.Orange{
  color: orange;
}
.profile{
  width: 300px;
  text-align: center;
  padding : 1rem;
  background-color : #ebebee;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom : 1rem;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20px;

}

.photo{
  width  :200px;
  height : 200px;
  border-radius : 100%;
}

.new{
  color : black;
  background-color: #50bcdf;
  
}